--- 
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section id="contact" class="container mx-auto py-12">
    <h1 class="text-4xl font-bold mb-6">📬 Contact</h1>
    <p>If you want to get in touch, feel free to reach out to me:</p>
    <ul class="list-disc list-inside mt-4">
      <li>Email: <a class="text-blue-400 hover:underline" href="mailto:marcinurbanski100@gmail.com">marcinurbanski100@gmail.com</a></li>
      <li>LinkedIn: <a class="text-blue-400 hover:underline" href="https://www.linkedin.com/in/marcinurba%C5%84ski2306/" target="_blank">LinkedIn Profile</a></li>
      <li>GitHub: <a class="text-blue-400 hover:underline" href="https://github.com/DuQer" target="_blank">GitHub</a></li>
    </ul>
  </section>
</BaseLayout>
