---
import "../styles.css";
---

<html lang="pl" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevOps Blog</title>
  </head>
  <body class="bg-background text-foreground font-sans p-6">
    <main class="max-w-3xl mx-auto">
      <slot />
    </main>
  </body>
</html>
